.todo-list {
    margin: 20px 0;
    position: relative;
}
.todo-list > ul {
    list-style-type: none;
    padding: 40px 20px 10px 20px;
    max-height: 0;
    transition: all 3s;
    margin: 0;
    overflow: hidden;
}
.todo-list li {
    border-bottom: 2px solid deepskyblue;
    padding: 10px 0;
    margin: 0 10px;
    display: none;
}
.clear-btn {
    color: #ff494d;
    border: 2px solid #ff494d;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 30px;
}
.clear-btn:focus {
    outline: none;
}
.doned {
    color: gray;
    font-weight: bold;
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
}
.toggle-list {
    display: none;
}
.toggle-list-label {
    color: gray;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 30px;
}
.toggle-list:checked ~ ul {
    max-height: 100rem;
}
.toggle-list:checked ~ ul > li{
    display: block;
}
.toggle-list:checked ~ .toggle-list-label {
    transform: rotate(180deg);
}
.todo-footer {
    display: none;
}
.toggle-list:checked ~ .todo-footer {
    display: flex;
    justify-content: space-between;
}