.list-item {
    color: gray;
    font-size: 1.3rem;
}
.important {
    color: deepskyblue;
    font-weight: bold;
}
.list-item,
.important,
.done {
    cursor: pointer;
}
.done {
    text-decoration: line-through;
}
.delete-btn,
.important-btn {
    width: 30px;
    height: 100%;
    font-family: 'icomoon', sans-serif;
    background-color: white;
    font-size: 1.5rem;
    border: 2px solid #ff494d;
    text-align: center;
    border-radius: 5px;
    padding: 0;
    margin-left: 5px;
}
.delete-btn:focus,
.important-btn:focus {
    outline: none;
}
.delete-btn {
    color: #ff494d;
}
.important-btn {
    color: deepskyblue;
    border-color: deepskyblue;
}
.list-item-row {
    display: flex;
    justify-content: space-between;
}