.filter-btn,
.active-btn {
    border-radius: 5px;
    border: 2px solid gray;
    padding: 5px 10px;
    margin-left: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}
.filter-btn:focus,
.active-btn:focus {
    outline: none;
}
.filter-btn {
    background-color: transparent;
    color: gray;
}
.active-btn {
    background-color: deepskyblue;
    border-color: deepskyblue;
    color: white;
}
.btn-group {
    margin: 10px 25px;
}
