@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?28u1x');
    src:  url('../fonts/icomoon.eot?28u1x#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?28u1x') format('truetype'),
    url('../fonts/icomoon.woff?28u1x') format('woff'),
    url('../fonts/icomoon.svg?28u1x#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.todo-list,
.create-item,
.search-panel {
    max-width: 400px;
    background-color: white;
    margin: 10px auto;
    border-radius: 10px;
}
.create-item__input,
.search-panel__input {
    width: 90%;
    color: gray;
}
.create-item__input,
.create-item__btn,
.search-panel__input,
.search-panel__btn {
    font-size: 1.3rem;
    border: none;
}
.create-item__input:focus,
.create-item__btn:focus,
.search-panel__input:focus,
.search-panel__btn:focus {
    outline: none;
}
.create-item__btn,
.search-panel__btn {
    background-color: white;
    font-family: 'icomoon', sans-serif;
    color: gray;
}